@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');











/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

.nav-link{
  
  margin: auto;
  position: center;
}
#position{
  padding-left:0;
}
#zi{
 padding-right:0.3em;
}
/* nav bar text color */
.navbar-nav {
  color:white;
  padding-left: 0%;
}
.display-4{
  color:black;
  font-size: 40px;
  font-style:bold;
}

.p{
  text-align:left;
}
body{
  background-color:black;
}
h1{
  padding-left:15%;
  display:block;
  background: rgba(233, 202, 202, 0.144);
}
h2{
  display: block;
  content: "";
  padding-left: 40%;
	background: rgba(233, 202, 202, 0.144);
	
}
h3 {
  color:rgba(240, 225, 209, 0.849);
  font-weight:bold；
  
}
h3{
  font-size: 40px;
  text-shadow: rgb(0, 0, 0);
  text-align: start;
  padding-left: 50px;
}
.icon { 
  font-family: FontAwesome; 
  content:"\f008";
}
.fa-home{
 font-size:20px;
  
}
#head{
  padding-left:0%;
  background-image: url('img/background/background_ds.png');
}
.laoshi{
  padding-left:0;
}
.photo-container img{
padding-left:0%;


}

/*           
/*Extra small xs devices portrait phones, less than 960px/576px
No media query since this is the default in Bootstrap

/*Small (sm) devices (landscape phones, 960/576px and up)*/
@media (min-width: 576px) { 
  .navbar-nav{
    padding-left:0%;
  }
}

/*Medium (md) devices (tablets, 1024/768px and up)*/
@media (min-width: 768px) { 
  .navbar-nav{
    padding-left:0%;
  }
}

/*Large (lg) devices (desktops ipad, 1440/992px and up)*/
@media (min-width: 992px) { 
  .navbar-nav{
    padding-left:0%;
  }
}

/*Extra (xl) large devices (large desktops MacBook17‘, 1920/width1200px and up)*/
@media (min-width: 1200px) { 
  .navbar-nav{
    padding-left:0;
  }
}









